.jumbotron {
  background-image:url('../img/goalden_hour.jpg');
  height: 1152px;
}

.jumbotron .container {
  position: relative;
  top: 190px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
  width: 700px;
}

#mc_embed_signup {
  padding-top: 30px;
}

#mce-EMAIL {
  font-size: 16px;
  height: 35px;
  width: 420px; 
}

.form_btn {
  height: 35px;
  width: 200px;
  line-height: 4px;
  background-color: white;
}